<h1>Listing profile_interests</h1>

<table>
  <tr>
    <th>Profile</th>
    <th>Name</th>
    <th>Title</th>
    <th>Type </th>
    <th>Logo</th>
    <th>Logo path</th>
    <th>Desc</th>
    <th>Is default</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @profile_interests.each do |profile_interest| %>
  <tr>
    <td><%= profile_interest.profile_id %></td>
    <td><%= profile_interest.name %></td>
    <td><%= profile_interest.title %></td>
    <td><%= profile_interest.type_ %></td>
    <td><%= profile_interest.logo %></td>
    <td><%= profile_interest.logo_path %></td>
    <td><%= profile_interest.desc %></td>
    <td><%= profile_interest.is_default %></td>
    <td><%= link_to 'Show', profile_interest %></td>
    <td><%= link_to 'Edit', edit_profile_interest_path(profile_interest) %></td>
    <td><%= link_to 'Destroy', profile_interest, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Profile interest', new_profile_interest_path %>
