<p id="notice"><%= notice %></p>

<p>
  <b>Profile:</b>
  <%= @profile_employer.profile_id %>
</p>

<p>
  <b>Title:</b>
  <%= @profile_employer.title %>
</p>

<p>
  <b>Position:</b>
  <%= @profile_employer.position %>
</p>

<p>
  <b>City:</b>
  <%= @profile_employer.city %>
</p>

<p>
  <b>Project:</b>
  <%= @profile_employer.project %>
</p>

<p>
  <b>Fromdate:</b>
  <%= @profile_employer.fromdate %>
</p>

<p>
  <b>Todate:</b>
  <%= @profile_employer.todate %>
</p>

<p>
  <b>Website:</b>
  <%= @profile_employer.website %>
</p>

<p>
  <b>Logo:</b>
  <%= @profile_employer.logo %>
</p>

<p>
  <b>Logo path:</b>
  <%= @profile_employer.logo_path %>
</p>

<p>
  <b>With:</b>
  <%= @profile_employer.with %>
</p>

<p>
  <b>Iscurrent:</b>
  <%= @profile_employer.iscurrent %>
</p>

<p>
  <b>Desc:</b>
  <%= @profile_employer.desc %>
</p>

<p>
  <b>Duration:</b>
  <%= @profile_employer.duration %>
</p>


<%= link_to 'Edit', edit_profile_employer_path(@profile_employer) %> |
<%= link_to 'Back', profile_employers_path %>
