<%= form_for(@clink) do |f| %>
  <% if @clink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clink.errors.count, "error") %> prohibited this clink from being saved:</h2>

      <ul>
      <% @clink.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content_id %><br />
    <%= f.text_field :content_id %>
  </div>
  <div class="field">
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_field :desc %>
  </div>
  <div class="field">
    <%= f.label :misc %><br />
    <%= f.text_field :misc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
