<div class="add_dataset">
  <table width="60%">  
    <tr>
      <td><span style="float:right;"/><%= image_tag("movie_logo.png", :size => "50x50")%></td>
      <td width="10%"><%= f.check_box :is_default %></td>
      <td><%= f.label :defualt %></td>
    </tr>
    <tr>
      <td>&nbsp;</td> 
      <td width ="10%"><%= f.label :title %></td>
      <td><%= f.autocomplete_field :title, autocomplete_profile_movie_title_home_path %></td>
    </tr>
    <tr>
      <td colspan="2"><span style="float:right;"/><%= f.label :artist %></td>
      <td><%= f.text_field :artist %></td>
    </tr>
    <tr>
      <td colspan="2"><span style="float:right;"/><%= f.label :description %></td>
      <td><%= f.text_area :desc, :size => "28x3" %></td>
    </tr>
    <tr>
      <td colspan="3"><span style="float: right"/><button type="button" class="delete_div_btn">Remove</button></td>
    </tr>
  </table>
</div>