<h1>Listing ctags</h1>

<table>
  <tr>
    <th>Cphoto</th>
    <th>Label</th>
    <th>Width</th>
    <th>Height</th>
    <th>Top</th>
    <th>Left</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ctags.each do |ctag| %>
  <tr>
    <td><%= ctag.cphoto_id %></td>
    <td><%= ctag.label %></td>
    <td><%= ctag.width %></td>
    <td><%= ctag.height %></td>
    <td><%= ctag.top %></td>
    <td><%= ctag.left %></td>
    <td><%= link_to 'Show', ctag %></td>
    <td><%= link_to 'Edit', edit_ctag_path(ctag) %></td>
    <td><%= link_to 'Destroy', ctag, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ctag', new_ctag_path %>
