<p id="notice"><%= notice %></p>

<p>
  <b>Profile:</b>
  <%= @profile_university.profile_id %>
</p>

<p>
  <b>Title:</b>
  <%= @profile_university.title %>
</p>

<p>
  <b>Concentration:</b>
  <%= @profile_university.concentration %>
</p>

<p>
  <b>Todate:</b>
  <%= @profile_university.todate %>
</p>

<p>
  <b>Fromdate:</b>
  <%= @profile_university.fromdate %>
</p>

<p>
  <b>Classname:</b>
  <%= @profile_university.classname %>
</p>

<p>
  <b>Website:</b>
  <%= @profile_university.website %>
</p>

<p>
  <b>Attendedfor:</b>
  <%= @profile_university.attendedfor %>
</p>

<p>
  <b>Logo:</b>
  <%= @profile_university.logo %>
</p>

<p>
  <b>Logo path:</b>
  <%= @profile_university.logo_path %>
</p>

<p>
  <b>With:</b>
  <%= @profile_university.with %>
</p>

<p>
  <b>Iscurrent:</b>
  <%= @profile_university.iscurrent %>
</p>

<p>
  <b>Desc:</b>
  <%= @profile_university.desc %>
</p>

<p>
  <b>Duration:</b>
  <%= @profile_university.duration %>
</p>


<%= link_to 'Edit', edit_profile_university_path(@profile_university) %> |
<%= link_to 'Back', profile_universities_path %>
